/*************************************************
*  汎用クラス
**************************************************/

// 見出し
.mainTitle {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  font-size: 2.2rem;
  font-weight: bold;
  color: #404a54;
  @include media(s) {
    font-size: 1.8rem;
  }
  @include media(xs) {
    font-size: 1.6rem;
  }
  span {
    font-size: 1.2rem;
  }
}
.mainTitle2 {
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

//レイアウト
.cInner {
  width: 1000px;
  margin: 0 auto;
}
@media (max-width: 1040px) {
  .cInner {
    width: 100%;
    padding: 0 20px;
  }
}

//flex
.flex {
  display: flex;
}

.section--main {
  margin-bottom: 80px;
}

//overlay
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 10;
  &.open {
    display: block;
  }
}
