//breakpointsの定義
$breakpoints: (
  xs: "only screen and (max-width: 360px)",
  s: "only screen and (max-width: 600px)",
  m: "only screen and (max-width: 767px)",
  l: "only screen and (max-width: 991px)",
  xl: "only screen and (max-width: 1199px)",
);

//サイトの幅
$siteWidth: 1000px;

//幅の指定
$space_5: 5px;
$space_10: 10px;
$space_15: 15px;
$space_20: 20px;
$space_30: 30px;
$space_40: 40px;
$space_50: 50px;
$space_60: 60px;