@media (max-width: 568px) {
    #main.education-main {
        width: 100%;
        display: block;
        float: none;
        margin: 0px auto 0;
    }

    #main h3 {
        font-size: 15px;
        color: #4d4d4d;
        display: block;
        text-align: center;
        line-height: 30px;
        margin-bottom: 4px;
    }

    #main .catch p {
        color: #004080;
        line-height: 2;
        display: block;
        text-align: center;
        font-size: 10px;
    }

    #main .catch {
        margin-bottom: 60px;
    }
.contents-wrap{
	display:block;
	margin:0 auto;
	width:100%;
}
    .contents-wrap:last-child {
        margin-bottom: 100px;
        display: inline-block;
    }

    .contents {
        margin: 0 auto 60px;
        width: 100%;
        display: block;
        float: none;
    }

    .contents .ttl .jp {
        font-size: 18px;
        font-weight: bold;
        color: #4d4d4d;
    }

    .contents .ttl .en {
        color: #4d4d4d;
        font-size: 15px;
        font-weight: normal;
        font-style: italic;
    }

    .pic-wrap {
        border-bottom: 1px dotted #004080;
    }

    .contents .bar {
        width: 120px;
        display: block;
        margin: 0 auto;
        height: 4px;
        background: #004080;
    }

    .contents .ttl {
        text-align: center;
        margin: 16px 0;
    }

    .contents aside {
        font-size: 16px;
        display: block;
        text-align: center;
        color: #4d4d4d;
        padding-top: 16px;
    }

    .contents {
        margin-bottom: 80px;
    }



}