.rankNum {
  position: absolute;
  top: 0;
  background: #000;
  color: #fff;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.rank1 {
  background: #f5cb4c;
}
.rank2 {
  background: #c0c0c0;
}
.rank3 {
  background: #7A592F;
}