/* 共通ボタン */
.moreBtn {
  position: relative;
  display: block;
  background-color: #fff;
  width: 300px;
  margin: 0 auto;
  font-size: 1.8rem;
  font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
  font-weight: bold;
  text-align: center;

  &::before {
    content: '';
  }

  span {
    display: block;
    border: 2px solid #000;
    padding:10px 30px;
    cursor: pointer;
    transition: .2s;

  }
  &:hover {

  }
}