.cList {
  display: flex;
  flex-wrap: wrap;
  &__text {
    & h3 {
      font-size: 1.4rem;
    }
  }
}

.cList-3 {
  .cList__item {
    width: 32%;
    &:not(:nth-of-type(3n)) {
      margin-right: 1.2%;
    }
  }
}

.cList-5 {
  .cList__item {
    width: 19.2%;
    &:not(:nth-of-type(5n)) {
      margin-right: 1%;
    }
  }
}