.cList {
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin-bottom: 1.5rem;
  }
  &__text {
    font-weight: bold;
    & h3 {
      font-size: 1.4rem;
    }
  }
}

.cList-3 {
  .cList__item {
    width: 32.3%;
    &:not(:nth-of-type(3n)) {
      margin-right: 1.5%;
    }
  }
}

.cList-4 {
  .cList__item {
    width: 23.8%;
    &:not(:nth-of-type(4n)) {
      margin-right: 1.5%;
    }
  }
}

.cList-5 {
  .cList__item {
    width: 18.8%;
    &:not(:nth-of-type(5n)) {
      margin-right: 1.5%;
    }
  }
}