.iCate {
  background: #f5f5f5;
  padding: 70px 0 50px;
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  &__list {
    width: 25%;
    @include media(m) {
      width: 40%;
      margin-left: 10%;
    }
    @media screen and (max-width: 500px) {
      width: 80%;
      margin-left: 20%;
    }
  }
  &__item {
    margin-bottom: 1.5em;
    i {
      margin-right: 10px;
    }
    img {
      width: 23px;
      margin-right: 10px;
    }
  }
}