.rankNum {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background: #fff;
}
.rank1 {
  background: #ffc926;
  color: #fff;
}
.rank2 {
  background: #c0c0c0;
}
.rank3 {
  background: #7A592F;
}