/*************************************************
*  汎用クラス
**************************************************/

// 見出し
.mainTitle {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  span {
    position: relative;
    font-size: 2.6rem;
    font-weight: bold;
    z-index: 2;
    display: inline-block;
    font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
    margin: 0 4em;
    padding: 0 1em;
    background-color: #fff;
  }
  &::before {
    position: absolute;
    top: 50%;
    z-index: 1;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #cacacc;
    background: -webkit-linear-gradient(-45deg, transparent, #ccc 10%, #ccc 90%, transparent);
    background: linear-gradient(-45deg, transparent, #ccc 10%, #ccc 90%, transparent);
  }
}
.mainTitle2 {
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  font-family: Georgia, 游明朝, "Yu Mincho", YuMincho, "Hiragino Mincho ProN", HGS明朝E, メイリオ, Meiryo, serif;
}

//レイアウト
.cInner {
  width: 1000px;
  margin: 0 auto;
}
@media (max-width: 1040px) {
  .cInner {
    width: 100%;
    padding: 0 20px;
  }
}

//flex
.flex {
  display: flex;
}

.section--main {
  margin-top: 20px;
  margin-bottom: 60px;
}

//overlay
.overlay {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
}
