.headerTop {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  &__title {
    font-size: 3.0rem;
    color: #777777;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin-left: 20px;
    }
  }
}

.gNav {
  padding: 30px 0;
  &__item {
    display: inline-block;
    margin-right: 40px;
    font-size: 1.8rem;
  }

  &__detail {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: #f5f5f5;
    transiton: .3s;
    &:hover {
      display: block;
    }
  }
}