.s-modal {
  display: none;
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 20;
  border-radius: 10px;
  &__inner {
    padding: 30px 50px;
    p {
      text-align: right;
      i {
        cursor: pointer;
      }
    }
  }
}