.slide {
  margin-bottom: 50px;
}

.mSlider {
  &__item {
    margin: 0 3px;
  }
}

// 矢印
.prevArrow i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  color: #1a1a1a;
  z-index: 3;
  cursor: pointer;
}

.nextArrow i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  color: #1a1a1a;
  z-index: 3;
  cursor: pointer;
}